<header class="header header-6">
  <div class="branding">
    <a style="cursor:pointer;" class="nav-link">
      AOEDB
    </a>
  </div>
  <div class="header-nav">
    <a routerLink="dashboard" class="nav-link nav-text">Dashboard</a>
    <a routerLink="player-list" class="nav-link nav-text">Players</a>
    <form class="search">
      <label for="search_input">
        <input id="search_input" placeholder="Search Player"
               type="text">
      </label>
    </form>
  </div>
  <div class="header-actions">
    <a href="#" [ngClass]="{'nav-link': true, 'nav-icon': true, 'active': basic}" (click)="onClickAdd()">
      <!--<clr-icon shape="plus"></clr-icon>-->
    </a>
    <a href="#" class="nav-link nav-icon">
      <!--<clr-icon shape="user"></clr-icon>-->
    </a>
  </div>
</header>

<!--<clr-modal [(clrModalOpen)]="basic">-->
  <!--<h3 class="modal-title">Add Game</h3>-->
  <!--<div class="modal-body">-->
    <!--<form clrForm>-->
      <!--<section class="form-block">-->

        <!--<label>Details</label>-->

        <!--<div class="form-group">-->
          <!--<label for="enemy-name-field">Enemy</label>-->
          <!--<input clrInput type="text" name="enemy" id="enemy-name-field" placeholder="Enemy Name" required/>-->
          <!--<input clrInput type="number" name="elo" id="elo-field" placeholder="Enemy Elo" required/>-->
        <!--</div>-->

        <!--<div class="form-group">-->
          <!--<label for="my-elo-field">Me</label>-->
          <!--<input clrInput type="text" name="enemy" id="my-elo-field" placeholder="My Elo" required/>-->
        <!--</div>-->

        <!--<div class="form-group">-->
          <!--<label for="comments-field">Optional</label>-->
          <!--<input clrInput type="text" name="comments-field" id="comments-field" placeholder="Comments"/>-->
        <!--</div>-->

      <!--</section>-->
    <!--</form>-->
  <!--</div>-->
  <!--<div class="modal-footer">-->
    <!--<button type="button" class="btn btn-outline" (click)="basic = false">Cancel</button>-->
    <!--<button type="button" class="btn btn-success" (click)="basic = false">Add</button>-->
  <!--</div>-->
<!--</clr-modal>-->
