<h2>Register a Game</h2>
<form [formGroup]="gameFormGroup"
      class="example-form">
  <mat-form-field class="full-width">
    <input matInput
           formControlName="enemyName"
           placeholder="Enemy Name"
           [formControl]="playersOptionsControl"
           [matAutocomplete]="auto"
           required
    >
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
    <mat-error *ngIf="controlEnemyName.hasError('required')">
      Enemy Name is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input matInput
           formControlName="enemyElo"
           placeholder="Enemy Elo"
           type="number"
           required
    >
    <mat-error *ngIf="controlEnemyElo.hasError('required')">
      Enemy Elo is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input matInput
           formControlName="myElo"
           placeholder="My Elo"
           type="number"
           required
    >
    <mat-error *ngIf="controlMyElo.hasError('required')">
      My Elo is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-select
      formControlName="outcome"
    >
      <mat-option value="1">Win</mat-option>
      <mat-option value="2">Defeat</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="store()">Save</button>
</form>



