<!--<app-player-list></app-player-list>-->
<!--<app-player-detail></app-player-detail>-->
<div fxFlex
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     style="flex-direction: column; box-sizing: border-box; display:flex; flex: 1 1 0%;">
  <div fxFlex="30"
       fxFlex.xs="45"
       style="flex: 1 1 auto; box-sizing: border-box">
    <!--style="flex: 1 1 auto; box-sizing: border-box"-->
    <app-player-list></app-player-list>
  </div>
  <div fxFlex="70"
       fxFlex.xs="55"
       style="flex: 1 1 auto; box-sizing: border-box">
    <app-player-detail></app-player-detail>
  </div>
</div>

