<mat-spinner *ngIf="isLoadingResults"></mat-spinner>

<p *ngIf="selectedPlayer === undefined && !isLoadingResults">Seleccionar um jogador</p>

<div *ngIf="player !== undefined && selectedPlayer !== undefined">
  <p>
    {{selectedPlayer['name']}}
  </p>

  <div style="display: block; overflow-y: auto; height: 100%;">
    <mat-accordion *ngIf="selectedPlayer['games'].length > 0">
      <mat-expansion-panel *ngFor="let game of selectedPlayer['games']">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{game['id']}}
          </mat-panel-title>
          <mat-panel-description>
            <span [ngClass]="{
                  'win': game['result'] === 1,
                  'loss': game['result'] !== 1
                  }">
              <span *ngIf="game['result'] === 1; else loss">
                Win
              </span>
              <ng-template #loss>Loss</ng-template>
            </span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <!--Content Here-->
        <span *ngIf="game['comment'] === null; else comment;">No comment to show</span>
        <ng-template #comment>{{game['comment']}}</ng-template>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

