/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }

body { margin: 0; font-family: 'Roboto', sans-serif; }

.container {
  margin-left: 1em;
  margin-top: 1em;
  margin-right: 1em;
}

.left-margin {
  margin-left: 1em;
}

.right-margin {
  margin-right: 1em;
}

.full-width {
  width: 100%;
}
